@import "../../node_modules/tailwindcss";

:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 500;

	color-scheme: light dark;
    background-color: var(--color-zinc-950);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.text {
	font-size: 17px;
}

.custom-v-scrollbar::-webkit-scrollbar {
	width: 6px;
}

.custom-v-scrollbar::-webkit-scrollbar-track {
	background: rgba(241, 241, 241, 0);
	margin: 2px;
}

.custom-v-scrollbar::-webkit-scrollbar-thumb {
	background: var(--color-zinc-400);
	border-radius: 6px;
}

.custom-v-scrollbar::-webkit-scrollbar-thumb:hover {
	background: var(--color-zinc-300);
}

.custom-h-scrollbar::-webkit-scrollbar {
	height: 6px;
}

.custom-h-scrollbar::-webkit-scrollbar-track {
	background: rgba(241, 241, 241, 0);
	margin: 4px;
}

.custom-h-scrollbar::-webkit-scrollbar-thumb {
	background: var(--color-zinc-400);
	border-radius: 6px;
}

.custom-h-scrollbar::-webkit-scrollbar-thumb:hover {
	background: var(--color-zinc-300);
}


::-moz-selection {
	background: var(--color-zinc-200);
	color: var(--color-zinc-700);
}

::-webkit-selection {
	background: var(--color-zinc-200);
	color: var(--color-zinc-700);
}

::selection {
	background: var(--color-zinc-200);
	color: var(--color-zinc-700);
}

.range-input {
	@apply appearance-none w-full;
}

.range-input::-webkit-slider-runnable-track {
	@apply bg-zinc-800/0;
}

.range-input::-webkit-slider-thumb {
	@apply appearance-none w-2 h-4 bg-zinc-500 mt-1.5 rounded-full cursor-pointer;
}

.range-input::-moz-range-track {
	@apply bg-zinc-800/0;
}

.range-input::-moz-range-thumb {
	@apply appearance-none w-2 h-4 bg-zinc-500 mt-1.5 rounded-full cursor-pointer;
}


.range-input::-ms-track {
	@apply bg-zinc-800/0;
	border-color: transparent;
	color: transparent;
}

.range-input::-ms-thumb {
	@apply w-2 h-4 bg-zinc-600 mt-1.5 rounded-full cursor-pointer;
}
    